/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* Typography */

:root {
  --clr-bg: #181818;
  --clr-text: #D9D9D9;
  --clr-heading: #EFF2EF;
  --clr-bg-accent: #66FCF1;
  --clr-bg-dark: hsl(30, 13%, 6%);

  --ff-body: 'Nunito', Sans-Serif;
  --ff-heading: 'Roboto', Sans-Serif;
}

/* Mobile First Design */
/* General */

html {
  font-size: clamp(1rem, 5vw, 1.5rem);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: var(--ff-body);
  line-height: 1.6;
  overflow-x: hidden;
}

/* Layout */

.main-grid {
  display:grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, auto);
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/2;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.logo {
  text-align: center;
}

.search {
}

.main-nav {
 flex-grow: 1;
}

.account {
  
}

.main {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 5px;
}

.footer {
  grid-column: 1/3;
  grid-row: 3/4;
  background-color: var(--clr-bg-dark);
}

h1 {
  color: var(--clr-bg-text);
  font-family: var(--ff-heading);
  font-size: clamp(2rem, 20vw, 2.5rem);
  line-height: 1;
}

/* Tablets Layout */
@media (min-width: 43em) {
  .main-grid {
    display: grid;
    grid-template-columns: 20% 60% 1fr;
    grid-template-rows: auto auto 1fr;
  }
  
  .account {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: whitesmoke;
  }
  
   .sidebar-nav {
     grid-column: 1/2;
     grid-row: 1/2;
     background-color: violet;
   }

 .logo {
   grid-column: 2/3;
   grid-row: 1/2;
   background-color: red;
   text-align: left;
 }
 
.search {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: orange;
}

  .main-nav {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: blue;
  }

  .main {
    grid-column: 2/4;
    grid-row: 3/4;
    margin: 0;
  }

  .footer {
    grid-column: 1/4;
    grid-row: 4/5;
  }
}